.header {
  height: 80px;
  font-size: .8rem;
  letter-spacing: normal;
  margin: 0 auto;
  color: $black;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.brand {
  margin-left: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav {
  margin: 0 auto;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: $black;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lang {
  right: 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .active {
    font-weight: 700;
  }

  img {
    padding-right: 11px;
  }
}

.nav-link {
  margin: 1.5rem;
  color: $black;
  text-decoration: none;
  font-size: .8rem;


}

.nav-link.active {
  font-weight: 700;
}


/*let it to upper layer for clicking */
.home-link {
  position: relative;
  z-index: 3;

  img {
    max-width: 214px;
  }

}




.brand-link {
  position: relative;
  left: 0;
  z-index: 5;
}


/* media */
@media screen and (min-width: $big-screen-min) {
  .brand {
    width: 214px;
    height: 52px;
    left: 3px;

    .home-link {
      img {
        width: 100%;
      }
    }

  }



  .brand,
  .lang,
  .about-image {
    position: absolute;

  }




}


@media screen and (max-width: $small-screen-max) {

  .brand {
    width: 214px;
    height: 52px;
    left: 3px;

    .home-link {
      img {
        width: 100%;
      }
    }

  }








}

@media all and (max-width: $ipad-mini-horizon) {
  .brand {
    top: 0;
    margin: 10px;

    .home-link {
      img {
        width: 80%;

      }
    }

  }




  .brand,
  .lang,
  .about-image {
    position: relative;
    top: 0;
    margin: 10px;
  }



}

@media all and (max-width: $phone-480) {
  .brand {
    width: 150px;
    height: 20px;
    left: 3px;
    margin: 8px;

    .home-link {
      img {
        width: 100%;
      }
    }
  }


  .nav,
  .lang,
  .about-image {
    margin: 8px;
  }

}

@media all and (max-width: $phone-360) {

  .lang {
    width: 8.5em;

  }



}