@charset "UTF-8";
/*大於1200 大螢幕介面*/
/*980~1200 低解析小螢幕*/
/*iPad 橫放螢幕 寬1024 或是螢幕寬度1024 */
/* Pad 962px*/
/*iPad 橫放螢幕 寬768px */
/*576px 手機螢幕*/
/*480px 手機螢幕*/
/*360px 手機螢幕*/
/* 預設1201以上大螢幕 不特別寫*/
html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Noto Sans TC", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}
@media screen and (max-width: 576px) {
  body {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 360px) {
  body {
    font-size: 1.2rem;
  }
}

.base {
  background-color: rgb(236, 235, 234);
  height: 100vh;
  margin: auto;
}

.container {
  height: 100vh;
  width: clamp(320px, 100%, 1440px);
  margin: auto;
  font-family: "Noto Sans";
}

.icon {
  margin-right: 10px;
}
@media screen and (max-width: 576px) {
  .icon {
    margin-right: 6px;
  }
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(rgba(0, 0, 0, 0) 10%, #355F8B);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 9px), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
.header {
  height: 80px;
  letter-spacing: normal;
  margin: 0 auto;
  color: #000;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  z-index: 6;
}
@media screen and (max-width: 576px) {
  .header {
    height: 67px;
    justify-content: space-between;
  }
}

.brand {
  margin-left: 3rem;
  width: 162px;
  height: 42px;
}
@media screen and (max-width: 576px) {
  .brand.sidebar {
    margin: 0px;
    display: inline-block;
    width: 143px;
    height: 40px;
    position: relative;
  }
}

.nav {
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 576px) {
  .nav {
    display: none;
  }
}

.phone-options {
  display: none;
  width: 24px;
  height: 24px;
  position: relative;
  right: 1.5rem;
}
@media screen and (max-width: 576px) {
  .phone-options {
    display: unset;
  }
}

.lang {
  position: relative;
  right: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .lang {
    display: none;
  }
}
.lang .active {
  font-weight: 700;
}
.lang img {
  padding-right: 11px;
}

.nav-link {
  margin: 1.5rem;
  color: #000;
  text-decoration: none;
}

.nav-link.active {
  font-weight: 700;
}

/*let it to upper layer for clicking */
.home-link {
  position: relative;
  z-index: 1;
}
.home-link img {
  max-width: 214px;
}

.brand-link {
  position: relative;
  left: 0;
  z-index: 2;
}

.bg-blur {
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.header-sidebar {
  height: 100%;
  width: 70vw;
  background-color: #FFF;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header-sidebar .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #D5D5D5;
}
.header-sidebar .close_sidebar {
  background-color: red;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.sidebar-nav .nav-link {
  margin: 0;
  box-sizing: border-box;
  padding: 16px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #D5D5D5;
}

.sidebar-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 16px;
  font-size: 1.2rem;
}
.sidebar-lang .active {
  font-weight: 700;
}
.sidebar-lang img {
  padding-right: 11px;
}

.footer {
  background: #444444;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .footer {
    height: 40px;
  }
}
.footer .footer-right {
  color: #FFF;
  margin: 0 auto;
}

.city-color-black {
  color: #283C43;
}

.city-color-blue {
  color: #3591C5;
}

.city-color-pink {
  color: #D08181;
}

.city-color-cyan {
  color: #7FC0C5;
}

.city-color-blue-light {
  color: #5E9BAE;
}

.city-color-blue-dark {
  color: #52797C;
}

.home-main {
  background-color: rgb(216, 216, 236);
  height: 100%;
  max-height: 464px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .home-main {
    max-height: 213px;
  }
}
.home-main .photo_wrap {
  position: relative;
  overflow: hidden;
  background-image: url("../images/home_main.svg");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 576px) {
  .home-main .photo_wrap {
    background-image: url("../images/home_main_phone.svg");
  }
}
.home-main .photo_wrap .main-text {
  writing-mode: vertical-lr;
  position: absolute;
  left: 12%;
  top: 20%;
  color: #FFF;
  font-size: 2.6rem;
}
@media screen and (max-width: 576px) {
  .home-main .photo_wrap .main-text {
    font-size: 1.8rem;
  }
}

.home-cities {
  background-color: #F5F6F6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 576px) {
  .home-cities {
    flex-wrap: wrap;
    height: calc(100vh - 213px - 67px - 40px);
  }
}
.home-cities .city-card {
  margin: 1rem;
  background-color: #FFF;
  box-sizing: border-box;
  width: 217px;
  height: 174px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
@media screen and (max-width: 576px) {
  .home-cities .city-card {
    width: 40%;
    height: 16vh;
    max-height: 25%;
  }
}
.home-cities .city-card .city-icon {
  margin: 0.5rem 1.5rem;
  height: 5.1rem;
  width: 5.1rem;
}
.home-cities .city-card .city-name {
  margin-bottom: 0.6rem;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: 1.1rem;
  letter-spacing: 0em;
  text-align: left;
}
.home-cities .city-card .city-name-en {
  font-family: "Noto Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .home-cities .city-card .city-name-en {
    font-size: 1rem;
  }
}

.result-loading {
  position: absolute;
  opacity: 0.7;
  box-sizing: border-box;
  padding: 50px 150px;
  display: flex;
  justify-content: center;
}

.content {
  font-family: "Noto Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  overflow-x: auto;
  overflow-y: auto;
  height: calc(100vh - 80px - 60px);
  width: 100%;
  min-height: 630px;
}
@media screen and (max-width: 576px) {
  .content {
    width: 100vw;
    height: calc(100vh - 67px - 40px);
    min-height: 500px;
  }
}

.content-header {
  position: relative;
  background-color: #F5F6F6;
  height: 36px;
  display: flex;
  align-items: center;
  color: #000;
  line-height: normal;
}
.content-header .breadcrumb {
  position: absolute;
  left: 3rem;
}
.content-header .timetable, .content-header .mapBtn {
  position: absolute;
  right: 3rem;
}

.content-main {
  height: calc(100% - 36px);
  min-height: 630px;
  width: 100%;
  background-color: #FFF;
  display: flex;
}
@media screen and (max-width: 576px) {
  .content-main {
    min-height: 500px;
  }
}
.content-main .sidebar {
  position: relative;
  width: 464px;
  flex-shrink: 0;
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: 5;
}
.content-main .sidebar.hidden {
  display: none;
}
@media screen and (max-width: 576px) {
  .content-main .sidebar {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
}
.content-main .sidebar input {
  width: 90%;
  height: 36px;
  flex-shrink: 0;
  background-color: #F5F6F6;
  margin: 20px;
  border-radius: 10px;
  border: 0;
  box-sizing: border-box;
  padding: 10px;
}
.content-main .sidebar input::-moz-placeholder {
  opacity: 1;
}
.content-main .sidebar input::placeholder {
  opacity: 1;
}
@media screen and (max-width: 576px) {
  .content-main .sidebar input {
    width: 80%;
  }
}
.content-main .result-map {
  background-color: #3591C5;
  -webkit-backdrop-filter: invert(80%);
          backdrop-filter: invert(80%);
  width: 976px;
  height: 100%;
  min-height: 630px;
  position: relative;
}
.content-main .result-map .to-loc-icon {
  position: absolute;
  z-index: 5;
  background: #fff;
  border-radius: 5px;
  right: 11px;
  bottom: 100px;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-main .result-map.phone {
  width: 100%;
}

.city-link, .route-link {
  text-decoration: none;
}

.route-link {
  width: 100%;
}

.keyboard {
  width: inherit;
  position: absolute;
  bottom: 0;
  height: 330px;
  box-sizing: border-box;
  background-color: #F5F6F6;
  padding: 10px 50px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.keyboard.false {
  padding: 26px 50px;
}
@media screen and (max-width: 576px) {
  .keyboard.false {
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  .keyboard {
    padding: 0;
    height: 260px;
  }
}
.keyboard .city-option {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #283C43;
  width: 364px;
  height: 38px;
  border-radius: 10px;
  color: #FFF;
}
@media screen and (max-width: 576px) {
  .keyboard .city-option {
    width: 300px;
  }
}
.keyboard .routes.disable_routes {
  width: 380px;
  height: 216px;
  background-color: #F5F6F6;
  position: absolute;
  opacity: 0.7;
}
.keyboard .routes, .keyboard .cities-keyboard {
  position: relative;
  width: 380px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  .keyboard .routes, .keyboard .cities-keyboard {
    width: 310px;
  }
}
.keyboard .routes .btn, .keyboard .cities-keyboard .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 8px;
  width: 60px;
  height: 38px;
  flex-shrink: 0;
  background-color: #D5D5D5;
}
@media screen and (max-width: 576px) {
  .keyboard .routes .btn, .keyboard .cities-keyboard .btn {
    width: 50px;
    height: 30px;
    margin: 6px;
  }
}
.keyboard .routes .btn-grad, .keyboard .cities-keyboard .btn-grad {
  background-color: #D5D5D5;
  color: #FFF;
}
.keyboard .routes .btn-red, .keyboard .cities-keyboard .btn-red {
  background-color: #E87E7E;
  color: #FFF;
}
.keyboard .routes .btn-blue, .keyboard .cities-keyboard .btn-blue {
  background-color: #3591C5;
  color: #FFF;
}
.keyboard .routes .btn-green, .keyboard .cities-keyboard .btn-green {
  background-color: #5CC1A9;
  color: #FFF;
}
.keyboard .routes .btn-brown, .keyboard .cities-keyboard .btn-brown {
  background-color: #A86556;
  color: #FFF;
}
.keyboard .routes .btn-orange, .keyboard .cities-keyboard .btn-orange {
  background-color: #EEA12E;
  color: #FFF;
}
.keyboard .routes .btn-yellow, .keyboard .cities-keyboard .btn-yellow {
  background-color: #DEBE4E;
  color: #FFF;
}
.keyboard .routes .btn-gray-dark, .keyboard .cities-keyboard .btn-gray-dark {
  background-color: #888888;
  color: #FFF;
}
.keyboard .routes .btn-black, .keyboard .cities-keyboard .btn-black {
  background-color: #000;
  color: #FFF;
}

.result-routes {
  height: calc(100% - 330px);
  margin: 20px;
  overflow-y: auto;
}

.err-hint {
  margin: 20px;
  color: #D08181;
  font-weight: 900;
}

.route {
  height: 58px;
  position: relative;
}
.route .route-info {
  width: 70%;
  align-self: start;
}
.route .route-info .route-name {
  color: #000;
  font-family: "Roboto";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.route .route-info .route-direction {
  color: #888;
  font-family: "Noto Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.route .route-action {
  width: 60px;
  height: 100%;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.route .route-action .save-icon {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.route .route-action .route-city {
  color: #888;
  font-family: "Noto Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gray-line {
  width: 100%;
  height: 1px;
  margin-bottom: 12px;
  background-color: #F5F6F6;
}

.stop-action {
  height: 38px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.stop-action .save-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 30px;
  height: 30px;
}

.return-search-link {
  text-decoration: none;
  color: #000;
}

.result-stops {
  height: calc(100% - 38px - 36px);
}
@media screen and (max-width: 576px) {
  .result-stops {
    height: calc(100% - 36px);
  }
}
.result-stops .route-infos {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-stops .route-name {
  color: #000;
  font-family: Roboto;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.refresh-bar {
  height: 50px;
  margin: 0;
  color: #000;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 2px #F5F6F6 solid;
}
@media screen and (max-width: 576px) {
  .refresh-bar {
    height: 37px;
  }
}
.refresh-bar .countdown-line {
  height: 2px;
  background-color: #355F8B;
}
.refresh-bar .refresh-box {
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.refresh-bar .refresh-box .count {
  margin: 0px 20px;
}
.refresh-bar .refresh-box .button {
  margin: 0px 20px;
}

.tab-buttons {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 60px;
  display: flex;
}
.tab-buttons .tab-button {
  width: 80px;
  height: 50px;
  border: 0;
}
.tab-buttons .active {
  color: #FFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #355F8B;
  border-radius: 5px 5px 0px 0px;
}

.tab-contents {
  height: calc(100% - 80px - 60px - 50px - 38px);
}
@media screen and (max-width: 576px) {
  .tab-contents {
    height: calc(100% - 80px - 60px - 37px - 38px);
  }
}
.tab-contents .tab-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.tab-contents .tab-content .stop {
  height: 42px;
}

.stop-container {
  display: flex;
  font-family: "Noto Sans";
}
.stop-container .estimateTime {
  width: 77px;
  height: 26px;
  border-radius: 10px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.stop-container .estimateTime.gray {
  background-color: #A9A9A9;
}
.stop-container .estimateTime.red {
  background-color: #D08181;
}
.stop-container .estimateTime.blue {
  background-color: #355F8B;
}

.map-stop-tooltip .map-stop-name {
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: 0em;
  text-align: center;
}
.map-stop-tooltip .map-stop-status {
  font-weight: 700;
  line-height: normal;
}
.map-stop-tooltip.style {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #FFF;
  text-align: center;
  opacity: 1;
}
.map-stop-tooltip.gray {
  background-color: #A9A9A9;
}
.map-stop-tooltip.red {
  background-color: #D08181;
}
.map-stop-tooltip.blue {
  background-color: #355F8B;
}

.result-body {
  padding: 2rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.result-stations {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.result-stations .station {
  height: 58px;
  display: flex;
  justify-content: space-between;
}
.result-stations .station .station-info {
  width: 70%;
  align-self: start;
}
.result-stations .station .station-info .station-name {
  color: #000;
  font-family: "Roboto";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.result-stations .station-stop-num {
  font-size: 1.4rem;
  font-weight: 400;
  color: #888;
}

.center {
  background-color: #FFF;
  display: flex;
  width: 100%;
  justify-content: center;
}

.result-routes-save {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 20px;
  width: 742px;
  height: 600px;
  border-radius: 0px, 0px, 5px, 5px;
  border-radius: 0px 0px 5px 5px;
  background: #FFF;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.result-routes-save .tab-buttons {
  width: 100%;
}
.result-routes-save .tab-content {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.result-routes-save .tab-button {
  overflow: hidden;
  width: 50%;
}/*# sourceMappingURL=style.css.map */