.nav {
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 26px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 1px;
  align-items: center;
  justify-content: center;
}

.store {
  right: 5px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: .2em 1em;

  img {
    padding-right: .3em;
  }
}

.nav-link {
  margin: .3em;
  color: $primary-color;
  text-decoration: none;
  font-size: 1em;
  padding: .3em;

}

.nav-link.active {
  border-bottom: $primary-color 3px solid;
}

.nav-link:not(.active):hover {
  border-bottom: $primary-color 3px solid;
}

/*兄弟選擇器 ~ 當 .nav-link 不具有 .active 狀態且被 :hover 時，會取消其他同層級具有 .active 狀態兄弟選擇器 ~ 的 .nav-link 的元素*/
.nav-link:not(.active):hover~.nav-link.active {
  border-bottom: none;
}


/*let it to upper layer for clicking */
.home-link {
  position: relative;
  z-index: 3;

  img {
    max-width: 214px;
  }

}

.store-link {
  font-size: .8em;
  color: $gray-dark-color;
  text-decoration: none;
  position: absolute;
  border-radius: 7px;
  height: 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}


.brand-link {
  position: relative;
  left: 0;
  z-index: 5;
}


/* media */
@media screen and (min-width: $big-screen-min) {
  .brand {
    width: 214px;
    height: 52px;
    left: 3px;

    .home-link {
      img {
        width: 100%;
      }
    }

  }



  .brand,
  .store,
  .about-image {
    position: absolute;

  }

  .store {
    width: 8em;


  }



}


@media screen and (max-width: $small-screen-max) {

  .brand {
    width: 214px;
    height: 52px;
    left: 3px;

    .home-link {
      img {
        width: 100%;
      }
    }

  }

  .store {
    width: 8em;


  }






}

@media all and (max-width: $ipad-mini-horizon) {
  .brand {
    top: 0;
    margin: 10px;

    .home-link {
      img {
        width: 80%;

      }
    }

  }




  .brand,
  .store,
  .about-image {
    position: relative;
    top: 0;
    margin: 10px;
  }



}

@media all and (max-width: $phone-480) {
  .brand {
    width: 150px;
    height: 20px;
    left: 3px;
    margin: 8px;

    .home-link {
      img {
        width: 100%;
      }
    }
  }

  .store {
    width: 7.5em;

  }

  .nav,
  .store,
  .about-image {
    margin: 8px;
  }

}

@media all and (max-width: $phone-360) {

  .store {
    width: 8.5em;

  }



}