@import './variables';


html {
  font-size: $base-font-size;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans TC', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-body-font-size;
  //debug use
  // @include pc-bigger-screen {  
  //   background-color: blue;
  // }

  @include phone-480-screen {
    font-size: $base-body-font-size-sm ;
  }
}



.base {
  background-color: $gray-bg;
  width: clamp(375px, 100%, 1440px);
  height: 100vh;
  margin: auto;

}

.container {
  height: 100vh;
  font-family: $font-family;
}


//debug use
// * {
//   outline: 2px solid red;
// }

// * {
//   background-color: rgb(0 100 0/0.1);
// }