//斷點 方向 大->小 -----

$big-screen-min: 1201px;
/*大於1200 大螢幕介面*/

$small-screen-max: 1200px;
/*980~1200 低解析小螢幕*/

$ipad-mini-horizon: 1024px;
/*iPad 橫放螢幕 寬1024 或是螢幕寬度1024 */

$pad-962: 962px;
/* Pad 962px*/

$ipad-mini-vertical: 768px;
/*iPad 橫放螢幕 寬768px */

$phone-576: 576px;
/*576px 手機螢幕*/

$phone-480: 480px;
/*480px 手機螢幕*/

$phone-360: 360px;
/*360px 手機螢幕*/



//mixin--------------------------
/* 預設1201以上大螢幕 不特別寫*/

//1200以下
@mixin pc-small-screen {
  @media screen and (max-width: $small-screen-max) {
    @content;
  }
}

@mixin ipad-screen {
  @media screen and (max-width: $ipad-mini-vertical) {
    @content;
  }
}

@mixin phone-screen {
  @media screen and (max-width: $phone-576) {
    @content;
  }
}

@mixin phone-small-screen {
  @media screen and (max-width: $phone-360) {
    @content;
  }
}


//EX : how to use
// @include phone-screen {
//  ...
// }