$base-font-size: 62.5%;
$base-body-font-size: 1.6rem;
$base-body-font-size-sm: 1.4rem;




//color -----
$black: #000;
$white: #FFF;

$black-foot: #444444;
$gray-bg: #F5F6F6;


$gray-btn: #D5D5D5;
$black-btn: #283C43;
$red-btn: #E87E7E;
$blue-btn: #3591C5;
$green-btn: #5CC1A9;
$brown-btn: #A86556;
$orange-btn: #EEA12E;
$yellow-btn: #DEBE4E;
$gray-dark-btn: #888888;

$blue-tab: #355F8B;


$gray-time: #A9A9A9;
$blue-time: #355F8B;
$red-time: #D08181;


//JS mutual setting
$blackFont: #283C43;
$pinkFont: #D08181;
$blueFont: #3591C5;
$cyanFont: #7FC0C5;
$blueLightFont: #5E9BAE;
$blueDarkFont: #52797C;

$blueLine: #355F8B;


//font -----
$font-family: "Noto Sans";


//RWD -----

$big-screen-min: 1201px;
/*大於1200 大螢幕介面*/

$small-screen-max: 1200px;
/*980~1200 低解析小螢幕*/

$ipad-mini-horizon: 1024px;
/*iPad 橫放螢幕 寬1024 或是螢幕寬度1024 */

$pad-962: 962px;
/* Pad 962px*/

$ipad-mini-vertical: 768px;
/*iPad 橫放螢幕 寬768px */

$phone-576: 576px;
/*576px 手機螢幕*/

$phone-480: 480px;
/*480px 手機螢幕*/

$phone-360: 360px;
/*360px 手機螢幕*/