$border-radius: 8px;

.tabs-content {
  border: 1px solid rgb(213, 216, 216);
  width: 90%;
  margin: 32px;
  border-radius: $border-radius;
}

.tabs {
  display: flex;
  background-color: #D0EFFF;
  border-radius: $border-radius $border-radius 0px 0px;
}

.tab {
  width: 120px;
  height: 36px;
  border-radius: $border-radius;
  background-color: #D0EFFF;

  text-align: center;
  font-size: .9em;
  line-height: 36px;

}

.tab.active {
  background-color: #0da1eb;
  color: white;
}

.tab:hover {
  background-color: #adb1b4;
  color: white;
}