.link-container {
  height: 38px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  .save-icon {
    text-align: right;

  }
}

.return-search-link {
  text-decoration: none;
  color: $black;

}

.result-stops {

  width: 464px;
  height: 690px;

  .route-infos {
    width: 464px;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .route-name {
    color: #000;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.tab-buttons {
  .tab-button {
    width: 50%;
    height: 37px;
    border: 0;
  }

  .active {
    color: $white;

    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: $blue-tab;
    border-radius: 5px 5px 0px 0px;

  }

}

.tab-contents {

  .tab-content {
    width: 403px;
    height: 487px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 30px;

    .stop {
      height: 42px;
    }
  }
}


.stop-container {
  display: flex;
  font-family: 'Noto Sans';

  .estimateTime {
    width: 77px;
    height: 26px;
    border-radius: 10px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    &.gray {
      background-color: $gray-time;
    }

    &.red {
      background-color: $red-time;

    }

    &.blue {
      background-color: $blue-time;

    }

  }

  .name {
    margin: 0 10px;
    width: 50%;

    &.gray {
      color: $gray-time;
    }

    &.red {
      color: $black;

      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;

    }

    &.blue {
      color: $black;

    }

  }


}