.result-body {
  padding: 2.0em;
  height: 100%;

  box-sizing: border-box;
  overflow-y: auto;
}

.result-stations {
  display: flex;
  flex-direction: column;
  overflow-y: auto;


  .station {

    height: 58px;
    display: flex;
    justify-content: space-between;

    .station-info {
      width: 70%;
      align-self: start;

      .station-name {

        color: #000;
        font-family: 'Roboto';
        font-size: 2.0em;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }




    }


  }

  .station-stop-num {
    font-size: 1.4rem;
    font-weight: 400;
    color: #888;
  }
}