$stop-action-height: 38px;
$stop-action-height-small: 36px;

.stop-action {
  height: $stop-action-height;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  user-select: none;

  .save-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    width: 30px;
    height: 30px;

  }
}

.return-search-link {
  text-decoration: none;
  color: $black;

}


$route-infos-height: 80px;

.result-stops {

  height: calc(100% - $stop-action-height - $stop-action-height-small);

  @include phone-screen {
    height: calc(100% - $stop-action-height-small);
  }

  .route-infos {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .route-name {
    color: #000;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }


}

$refresh-bar-height: 50px;
$refresh-bar-height-small: 37px;

.refresh-bar {
  height: $refresh-bar-height;
  margin: 0;

  color: #000;
  font-family: 'Roboto';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 2px $gray-bg solid;

  @include phone-screen {
    height: $refresh-bar-height-small;
  }

  .countdown-line {
    height: 2px;
    background-color: $blueLine;
  }

  .refresh-box {
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .count {
      margin: 0px 10px
    }



    .button {
      margin: 0px 20px
    }

  }


}

$tab-buttons-height: 60px;

.tab-buttons {
  overflow-x: scroll;
  overflow-y: hidden;
  height: $tab-buttons-height;
  display: flex;

  .tab-button {
    width: 80px;
    height: 50px;
    border: 0;
  }

  .active {
    color: $white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: $blue-tab;
    border-radius: 5px 5px 0px 0px;

  }

}

.tab-contents {
  height: calc(100% - $route-infos-height - $tab-buttons-height - $refresh-bar-height - $stop-action-height);

  @include phone-screen {
    height: calc(100% - $route-infos-height - $tab-buttons-height - $refresh-bar-height-small - $stop-action-height)
  }

  .tab-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
    padding: 10px;

    .stop {
      height: 42px;
    }
  }
}


.stop-container {
  display: flex;
  font-family: 'Noto Sans';

  .estimateTime {
    width: 77px;
    height: 26px;
    border-radius: 10px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    &.gray {
      background-color: $gray-time;
    }

    &.red {
      background-color: $red-time;

    }

    &.blue {
      background-color: $blue-time;

    }

  }



}

.map-stop-tooltip {

  .map-stop-name {
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: 0em;
    text-align: center;
  }

  .map-stop-status {

    font-weight: 700;
    line-height: normal;
  }


  &.style {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: $white;
    text-align: center;
    opacity: 1.0,

  }

  &.gray {
    background-color: $gray-time;
  }

  &.red {
    background-color: $red-time;

  }

  &.blue {
    background-color: $blue-time;
  }



}