.home-main {
  position: relative;

  .main-text {
    writing-mode: vertical-lr;
    position: absolute;
    left: 150px;
    top: 100px;
    color: $white;
  }
}

.city-color-1 {
  color: $blackFont;
}

.city-color-2 {
  color: $blueFont;
}

.city-color-3 {
  color: $pinkFont;
}

.city-color-4 {
  color: $cyanFont;
}

.city-color-5 {
  color: $blueLightFont;
}

.city-color-6 {
  color: $blueDarkFont;
}

.home-cities {
  background-color: $gray-bg;
  width: 100%;
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;

  .city-card {
    margin: 1rem;
    background-color: $white;
    box-sizing: border-box;
    width: 217px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

    .city-icon {
      margin: .5em 1.5rem;
    }

    .city-name {
      margin-bottom: 6px;
      font-family: 'Noto Sans';
      font-size: .8rem;
      font-weight: 700;
      line-height: 1.1rem;
      letter-spacing: 0em;
      text-align: left;

    }

    .city-name-en {

      font-family: 'Noto Sans';
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;

    }

  }

}


.result-loading {

  position: absolute;
  opacity: .7;
  box-sizing: border-box;
  padding: 50px 150px;
  display: flex;
  justify-content: center;
}