 /*1201以上大螢幕*/
 @media screen and (min-width: $big-screen-min) {
   body {
     font-size: $font-size-xl;
   }


   .container {
     max-width: 1440px;
     margin: auto;
   }




 }

 /*1200以下小螢幕*/
 @media screen and (max-width: $small-screen-max) {


   .container {
     width: 80%;
     margin: auto;
   }

   .search-button-with-ripple {
     height: auto !important;
   }

   .chart-status {
     flex-direction: column;
   }
 }

 @media all and (max-width: $ipad-mini-horizon) {

   body {
     font-size: $font-size-sm;
   }

   .info_img_block {
     display: none !important;
   }

   table {
     transform: scale(.8);
     transform-origin: top left;

   }


 }

 @media all and (max-width: $pad-962) {

   table {
     transform: scale(.7);
     transform-origin: top left;
   }

 }

 @media all and (max-width: $ipad-mini-vertical) {

   table {
     transform: scale(.6);
     transform-origin: top left;
   }

 }

 @media all and (max-width: $phone-480) {

   body {
     font-size: $font-size-sm;
     /*14*/
   }

   .info, .shelter {
     flex-direction: column !important;
     align-items: center !important;

     .shelter_img_block, .info_img_block {
       display: none !important;
     }

     .field-value {
       display: block;
     }

     .info_pet_block, .shelter_data_block {
       width: 100% !important;
       ;
     }

     ;
   }



   .container {
     width: 90%;
     margin: auto;
   }


   .MuiSvgIcon-root {
     height: 10px !important;
     width: 10px !important;
   }

   .alignBlock {
     height: .1em !important;
   }



 }

 @media all and (max-width: $phone-360) {

   body {
     font-size: $font-size-xs;
     /*12*/
   }
 }