//color -----
$black: #000;
$white: #FFF;

$black-foot: #444444;
$gray-bg: #F5F6F6;

$black-font: #283C43;
$pink-font: #D08181;
$blue-font: #3591C5;
$cyan-font: #7FC0C5;
$blue-font-light-font: #5E9BAE;
$blue-font-font: #52797C;

//font -----
$font-family: "Noto Sans";

//font-size -----
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 30px;
$font-size-5xl: 48px;


//RWD -----

$big-screen-min: 1201px;
/*大於1200 大螢幕介面*/

$small-screen-max: 1200px;
/*980~1200 低解析小螢幕*/

$ipad-mini-horizon: 1024px;
/*iPad 橫放螢幕 寬1024 或是螢幕寬度1024 */

$pad-962: 962px;
/* Pad 962px*/

$ipad-mini-vertical: 768px;
/*iPad 橫放螢幕 寬768px */

$phone-480: 480px;
/*480px 手機螢幕*/

$phone-360: 360px;
/*360px 手機螢幕*/